<a href="https://colab.research.google.com/github/schneeball1230/class2021Spring/blob/main/string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# list slicing
s = 'abcdef'
print(s[0], s[5], s[-1], s[-6])  # [-n]은 뒤에서 n번째
print(s[1:3], s[1:], s[:3], s[:])  # [n, m]은 n번째부터 m-1번째까지

a f f a
bc bcdef abc abcdef

In [2]:
n = [100, 200, 300]
print(n[0], n[2], n[-1], n[-3])
print(n[1:2], n[1:], n[:2], n[:])

100 300 300 100
[200] [200, 300] [100, 200] [100, 200, 300]

In [ ]:
len(s)  # s라는 리스트의 길이

6

In [ ]:
s[1]+s[3]+s[4:]*10

'bdefefefefefefefefefef'

In [ ]:
s.upper()  # 문자열을 대문자로 바꾸는 함수

'ABCDEF'

In [7]:
s = 'this is a house built this year.\n' 	
print(s)
s

this is a house built this year.

'this is a house built this year.\n'

In [8]:
result = s.find('house') 	    # index of first instance of string t inside s (-1 if not found)
result

10

In [9]:
result = s.find('this')	    # index of last instance of string t inside s (-1 if not found)
result

0

In [14]:
result = s.rindex('year')        # like s.find(t) except it raises ValueError if not found
result

27

In [ ]:
s = s.strip()      	            # a copy of s without leading or trailing whitespace
s

'this is a house built this year.'

In [ ]:
tokens = s.split(' ')	        # split s into a list wherever a t is found (whitespace by default)
tokens

['this', 'is', 'a', 'house', 'built', 'this', 'year.']

In [ ]:
s = ' '.join(tokens)	        # combine the words of the text into a string using s as the glue
s

'this is a house built this year.'

In [ ]:
s = s.replace('this', 'that')   # replace instances of t with u inside s
s

'that is a house built that year.'